.navbar {
  background-color: #757575;
}

body {
  background-image: url(/resimler/resim2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.logo {
  width: 10%;
  float: left;
}

.butondivi {
  display: inline;
}

.navbar-brand {
  cursor: default;
  height: 140px;
}

#clock {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 3px 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.5em;
  float: left;
}

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#clock #time div span {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  background-color: #2196f3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 300;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:last-child span {
  background: #ff006a;
}

#clock #time div:last-child span:nth-child(2) {
  background: #ec0062;
}

/*---------------------------------------------------------------*/
.container {
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.container .box {
  position:relative;
  width: 310px;
  height: 450px;
  color: #fff;
  background: #111;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.container .box:hover {
  transform: translateY(-20px);
}

.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container .box span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.container .box .content{
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
.container .box .content h2{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}
.container .box .content p{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.container .box .content a{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}








/*-----------------------------------------------------------------*/
.site-footer {
  background-image: linear-gradient(to right, #89da97, #021f3b);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #39036d;
  margin-top: 250px;
  padding-top: 10px;
  padding-bottom: 0px;
  position:static;
  width: 100%;
  bottom: 0;
  
}

.site-footer hr {
  border-top-color: rgb(248, 9, 21);
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: rgb(5, 5, 5);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #0e0252;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #b297df
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.instagram:hover {
  background-color: #aa2869
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}